<section class="hero">
  <ul id="main-nav-list" class="main-nav">
    <li><%= link_to 'Artistas', '#artistas', class: ('active' if action_name == 'artistas') %></li>
    <li><%= link_to 'Galería', '#instagram', class: ('active' if action_name == 'galeria') %></li>
    <li><%= link_to 'Calendario', '#calendar', class: ('active' if action_name == 'actividades') %></li>
  </ul>
  <% if @encuentro.slides.any? %>
    <div class="slider-track">
      <ul class="slider">
        <% @encuentro.slides.each.with_index(1) do |slide, index| %>
          <li class="slider-item <%= index == 1 ? 'active' : '' %>">
            <% if slide.image.attached? %>
              <%= image_tag slide.image %>
            <% end %>
            <span class="slider-item-text">
              <h1><%= slide.title %></h1>
              <p><%= slide.description %></p>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>
