<section class="hero">
  <div class="slider-track">
    <ul class="slider">
      <li class="slider-item active">
        <%= image_tag asset_path("hero-bg-1.jpg") %>
        <span class="slider-item-text">
          <h1>Clases</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam.</p>
        </span>
      </li>
      <li class="slider-item">
        <%= image_tag asset_path("hero-bg-2.jpg") %>
        <span class="slider-item-text">
          <h1>Charlas</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam.</p>
        </span>
      </li>
      <li class="slider-item">
        <%= image_tag asset_path("hero-bg-3.jpg") %>
        <span class="slider-item-text">
          <h1>Talleres</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam.</p>
        </span>
      </li>
    </ul>
  </div>
</section>

<section class="counter">
  <span class="counter-title">
    Conteo para el encuentro
  </span>
  <div class="counter-components">
    <span class="counter-component">
      <span class="counter-component-value">
        <span>0</span>
        <span>5</span>
      </span>
      <span class="counter-component-text">Días</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span>1</span>
        <span>5</span>
      </span>
      <span class="counter-component-text">Horas</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span>5</span>
        <span>0</span>
      </span>
      <span class="counter-component-text">Minutos</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span>5</span>
        <span>0</span>
      </span>
      <span class="counter-component-text">Segundos</span>
    </span>
  </div>
</section>

<section class="profiles">
  <% @encuentro.artistas_visibles.each do |a| %>
    <span class="image-crop">
      <span class="fechas-container">
        <% a.artista.conciertos_por_encuentro(@encuentro).each do |c| %>
          <span class="fecha"><%= c.display_short_date %></span>
        <% end %>
      </span>
      <%= image_tag a.artista.foto.attached? ? a.artista.foto : 'http://dummyimage.com/800x600/ccc/fff.png', class: 'is-4by3', data: { url_bio: artista_bio_path(a.artista), url_nombre: artista_nombre_path(a.artista), } %>
      <span class="nombre"><%= a.artista.nombre %></span>
    </span>
  <% end %>
</section>

<!-- <section class="calendar"></section> -->

<section id="instagram">
  <span id="instagram-title">
    Lo más nuevo en
    <%= link_to 'instagram', 'https://www.instagram.com/flauteandoenelrio', target: '_blank' %>
  </span>
  <div id="instafeed-slider">
    <%= icon('fas', 'chevron-circle-left', id: 'instafeed-slider-control-left', class: 'instafeed-slider-control') %>
    <div id="instafeed-slider-track-container">
      <div id="instafeed"></div>
    </div>
    <%= icon('fas', 'chevron-circle-right', id: 'instafeed-slider-control-right', class: 'instafeed-slider-control') %>
  </div>
</section>

<section class="twitter"></section>

<section class="footer"></section>

<section class="creator"></section>
