<section class="hero">
  <ul id="main-nav-list" class="main-nav">
    <li><%= link_to 'Artistas', artistas_path, class: ('active' if action_name == 'artistas') %></li>
    <li><%= link_to 'Actividades', actividades_path, class: ('active' if action_name == 'actividades') %></li>
    <li><%= link_to 'Conciertos', conciertos_path, class: ('active' if action_name == 'conciertos') %></li>
    <li><%= link_to 'Galería', galeria_path, class: ('active' if action_name == 'galeria') %></li>
    <li><a href="#artistas">Artistas</a></li>
  </ul>
  <div class="slider-track">
    <ul class="slider">
      <li class="slider-item active">
        <%= image_tag asset_path("hero-bg-1.jpg") %>
        <span class="slider-item-text">
          <h1>Clases</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam.</p>
        </span>
      </li>
      <li class="slider-item">
        <%= image_tag asset_path("hero-bg-2.jpg") %>
        <span class="slider-item-text">
          <h1>Charlas</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam.</p>
        </span>
      </li>
      <li class="slider-item">
        <%= image_tag asset_path("hero-bg-3.jpg") %>
        <span class="slider-item-text">
          <h1>Talleres</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magnam provident vero nobis, sequi, dolores aperiam.</p>
        </span>
      </li>
    </ul>
  </div>
</section>

<section class="counter">
  <span class="counter-title">
    Conteo para el encuentro
  </span>
  <div class="counter-components">
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-days-container-hundred"></span>
        <span id="counter-days-container-ten"></span>
        <span id="counter-days-container-one"></span>
      </span>
      <span class="counter-component-text">Días</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-hours-container-ten"></span>
        <span id="counter-hours-container-one"></span>
      </span>
      <span class="counter-component-text">Horas</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-minutes-container-ten"></span>
        <span id="counter-minutes-container-one"></span>
      </span>
      <span class="counter-component-text">Minutos</span>
    </span>
    <span class="counter-component">
      <span class="counter-component-value">
        <span id="counter-seconds-container-ten"></span>
        <span id="counter-seconds-container-one"></span>
      </span>
      <span class="counter-component-text">Segundos</span>
    </span>
  </div>
</section>

<section id="artistas" class="profiles">
  <% @encuentro.artistas_visibles.each do |a| %>
    <span class="image-crop">
      <span class="fechas-container">
        <% a.artista.conciertos_por_encuentro(@encuentro).each do |c| %>
          <span class="fecha"><%= c.display_short_date %></span>
        <% end %>
      </span>
      <%= image_tag a.artista.foto.attached? ? a.artista.foto : 'http://dummyimage.com/800x600/ccc/fff.png', class: 'is-4by3', data: { url_bio: artista_bio_path(a.artista), url_nombre: artista_nombre_path(a.artista), } %>
      <span class="nombre"><%= a.artista.nombre %></span>
    </span>
  <% end %>
</section>

<section id="instagram">
  <span id="instagram-title">
    Lo más nuevo en
    <%= link_to 'instagram', 'https://www.instagram.com/flauteandoenelrio', target: '_blank' %>
  </span>
  <div id="instafeed-slider">
    <%= icon('fas', 'chevron-circle-left', id: 'instafeed-slider-control-left', class: 'instafeed-slider-control') %>
    <div id="instafeed-slider-track-container">
      <div id="instafeed"></div>
    </div>
    <%= icon('fas', 'chevron-circle-right', id: 'instafeed-slider-control-right', class: 'instafeed-slider-control') %>
  </div>
</section>

<section class="calendar">
  <ul id="calendar-nav">
    <li data-toggle="visible" data-targets-container=".calendar-day" data-target="#day-1" class="active"><span class="day-name">Martes</span><span class="date">6 de octubre</span></li>
    <li data-toggle="visible" data-targets-container=".calendar-day" data-target="#day-2"><span class="day-name">Miércoles</span><span class="date">7 de octubre</span></li>
    <li data-toggle="visible" data-targets-container=".calendar-day" data-target="#day-3"><span class="day-name">Jueves</span><span class="date">8 de octubre</span></li>
  </ul>
  <ul id="day-1" class="calendar-day active">
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description">Salida Panguipulli</span>
      <span class="time">9:00</span>
      <span class="by">Nombre Encargado</span>
      <span class="place"></span>
      <a href="" class="button">Ver más</a>
    </li>
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description">Inauguración clases estudiantes de colegios</span>
      <span class="time">13:00 - 14:00</span>
      <span class="by">Nombre Encargado</span>
      <span class="place">Panguipulli</span>
      <a href="" class="button">Ver más</a>
    </li>
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description"></span>
      <span class="time"></span>
      <span class="by">Nombre Encargado</span>
      <span class="place"></span>
      <a href="" class="button">Ver más</a>
    </li>
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description"></span>
      <span class="time"></span>
      <span class="by">Nombre Encargado</span>
      <span class="place"></span>
      <a href="" class="button">Ver más</a>
    </li>
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description"></span>
      <span class="time"></span>
      <span class="by">Nombre Encargado</span>
      <span class="place"></span>
      <a href="" class="button">Ver más</a>
    </li>
  </ul>
  <ul id="day-2"  class="calendar-day">
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description">Salida Panguipulli</span>
      <span class="time">9:00</span>
      <span class="by">Nombre Encargado</span>
      <span class="place"></span>
      <a href="" class="button">Ver más</a>
    </li>
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description">Inauguración clases estudiantes de colegios</span>
      <span class="time">13:00 - 14:00</span>
      <span class="by">Nombre Encargado</span>
      <span class="place">Panguipulli</span>
      <a href="" class="button">Ver más</a>
    </li>
  </ul>
  <ul id="day-3"  class="calendar-day">
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description">Salida Panguipulli</span>
      <span class="time">9:00</span>
      <span class="by">Nombre Encargado</span>
      <span class="place"></span>
      <a href="" class="button">Ver más</a>
    </li>
    <li>
      <img src="https://dummyimage.com/90/ccc/ccc" alt="Imagen encargado">
      <span class="description">Inauguración clases estudiantes de colegios</span>
      <span class="time">13:00 - 14:00</span>
      <span class="by">Nombre Encargado</span>
      <span class="place">Panguipulli</span>
      <a href="" class="button">Ver más</a>
    </li>
  </ul>
</section>

<section class="twitter"></section>

<section class="footer"></section>

<section class="creator"></section>
