<%= render 'layouts/admin/tabs' %>

<%= form_with model: [:admin, @encuentro, @concierto] do |form| %>
<div class="field has-addons">
  <div class="control">
    <%= form.date_field :fecha, class: 'input' %>
  </div>
  <div class="control">
    <%= form.time_field :hora, class: 'input' %>
  </div>
  <div class="control">
    <%= form.text_field :lugar, class: 'input', placeholder: 'Lugar' %>
  </div>
  <div class="control">
    <%= form.submit 'Crear', class: 'button is-link' %>
    <%= link_to 'Cancelar', edit_admin_encuentro_path(@concierto.encuentro), class: 'button is-text' %>
  </div>
</div>
<p class="help">Ingrese fecha, hora y lugar, para crear un nuevo concierto para este encuentro</p>
<% end %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha/Hora</th>
      <th>Lugar</th>
      <th class="acciones has-two-icon">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @encuentro.conciertos.each.with_index(1) do |concierto, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= concierto.fecha.strftime('%d/%m/%Y') %> <%= concierto.hora.strftime('%H:%M') %></td>
        <td><%= concierto.lugar %></td>
        <td>
          <%= link_to content_tag(:span, icon('fas', 'edit'), class: 'icon tooltip', data: { tooltip: 'Editar concierto', }), admin_concierto_presentaciones_path(concierto), class: 'button is-info is-outlined' %>
          <%= link_to content_tag(:span, icon('fas', 'trash-alt'), class: 'icon'), admin_concierto_path(concierto), method: :delete, data: { confirm: '¿Está seguro?', }, class: 'button is-danger is-outlined' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
