<%= render 'admin/encuentros/tabs' %>

<%= form_with url: admin_encuentro_presentaciones_path(@encuentro) do |form| %>
<%= label_tag 'Seleccione un artista para asociarlo al encuentro', nil, class: 'label' %>
<div class="select">
<%= select_tag(:artista_id, options_for_select(@encuentro.artistas_asociables)) %>
</div>
<%= form.submit 'Asociar', class: 'button' %>
<% end %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Bio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @encuentro.presentaciones.each do |p| %>
      <tr>
        <td><%= p.artista.nombre %></td>
        <td><%= p.artista.bio.truncate(100) %></td>
        <td>
          <%= link_to icon('fas', 'edit'),
                      edit_admin_artista_path(p.artista),
                      data: {
                        tooltip: 'Editar artista',
                      },
                      class: 'button is-info is-outlined tooltip' %>

          <%= link_to icon('fas', 'trash-alt'),
                      admin_presentacion_path(p),
                      method: :delete,
                      data: {
                        confirm: '¿Está seguro?',
                        tooltip: 'Eliminar participación de este artista'
                      },
                      class: 'button is-danger is-outlined tooltip' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
