<%= render 'admin/encuentros/tabs' %>

<%= form_with url: admin_encuentro_presentaciones_path(@encuentro) do |form| %>
<%= label_tag 'Seleccione un artista para asociarlo al encuentro', nil, class: 'label' %>
<div class="select">
<%= select_tag(:artista_id, options_for_select(@encuentro.artistas_asociables)) %>
</div>
<%= form.submit 'Asociar', class: 'button' %>
<% end %>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Bio</th>
      <th class="imagenes">
        <span class="icon">
          <%= icon('fas', 'images') %>
        </span>
      </th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @encuentro.presentaciones.each do |p| %>
      <tr>
        <td><%= p.artistas.pluck(:nombre).join(", ") %></td>
        <td><%= p.obras.pluck(:titulo).join(", ") %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
