<%= render 'layouts/admin/tabs' %>

<div class="card">
  <div class="card-content">
    <h2 class="title is-2">Datos Concierto</h2>

    <%= form_with model: [:admin, @concierto] do |form| %>
    <div class="field has-addons">
      <div class="control">
        <%= form.date_field :fecha, class: 'input' %>
      </div>
      <div class="control">
        <%= form.time_field :hora, class: 'input' %>
      </div>
      <div class="control">
        <%= form.text_field :lugar, class: 'input', placeholder: 'Lugar' %>
      </div>
      <div class="control">
        <%= form.submit class: 'button is-link' %>
        <%= link_to 'Cancelar', admin_encuentro_conciertos_path(@concierto.encuentro), class: 'button is-text' %>
      </div>
    </div>
    <p class="help">Ingrese fecha, hora y lugar, para crear un nuevo concierto para este encuentro</p>
    <% end %>

    <hr>

    <h3 class="title is-3">Presentaciones</h3>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Orden</th>
          <th>Artistas</th>
          <th>Obras</th>
          <th class="acciones has-two-icons">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @concierto.presentaciones.each do |p| %>
          <tr>
            <td><%= p.orden %></td>
            <td>
              <% p.artistas.each do |artista| %>
                <span class="tag"><%= artista.nombre %></span>
              <% end %>
            </td>
            <td>
              <% p.obras.each do |obra| %>
                <span class="tag"><%= obra.titulo %></span>
              <% end %>
            </td>
            <td>
              <%= link_to content_tag(:span, icon('fas', 'edit'), class: 'icon tooltip', data: { tooltip: 'Editar artista', }), edit_admin_presentacion_path(p), class: 'button is-info is-outlined' %>
              <%= link_to content_tag(:span, icon('fas', 'trash-alt'), class: 'icon'), admin_presentacion_path(p), method: :delete, data: { confirm: '¿Está seguro?', }, class: 'button is-danger is-outlined' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
