<%= render 'layouts/admin/tabs' %>

<article class="message">
  <div class="message-header">
    <p>Artistas Visibles</p>
  </div>
  <div class="message-body">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Artista</th>
          <th class="imagenes">
            <span class="icon">
              <%= icon('fas', 'images') %>
            </span>
          </th>
          <th>Visible</th>
          <th class="acciones has-one-icon">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @encuentro.artistas.each.with_index(1) do |artista, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= artista.nombre %></td>
          <td>
            <%= icon('fas', 'check') if artista.foto.attached? %>
          </td>
          <td>
            <%= check_box_tag dom_id(artista, 'active_toggle'),
                  artista.visible?(@encuentro),
                  artista.visible?(@encuentro),
                  data: { remote: true,
                    url: toggle_visibilidad_artista_path(@encuentro, artista),
                    method: :patch } %>
          </td>
          <td>
            <%= link_to content_tag(:span,
                                    icon('fas', 'edit'),
                                    class: 'icon tooltip',
                                    data: {
                                      tooltip: 'Editar artista',
                                    }),
                        edit_admin_artista_path(artista),
                        class: 'button is-info is-outlined' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</article>

<article class="message">
  <div class="message-header">
    <p>Habilitar/Deshabilitar Encuentro</p>
  </div>
  <div class="message-body">
    <p>El estado del encuentro determina si estará disponible a los visitantes de la página.</p>
    <p>Por defecto, el encuentro habilitado más reciente es el que se muestra al llegar a la página principal.</p>
    <p>El cambio de este estado puede realizarse las veces que estime conveniente.</p>
    <br>
    <%= form_with model: [:admin, @encuentro] do |f| %>
      <%= f.hidden_field :url, value: admin_encuentro_path(@encuentro) %>
      <%= f.hidden_field :habilitado, value: !@encuentro.habilitado? %>
      <%= f.submit @encuentro.habilitado? ? 'Deshabilitar' : 'Habilitar', class: 'button is-link' %>
    <% end %>
  </div>
</article>

<article class="message">
  <div class="message-header">
    <p>Eliminar Encuentro</p>
  </div>
  <div class="message-body">
    <p>Eliminar un encuentro elimina todos los datos que tiene asociados de forma permanente.</p>
    <p>Esta acción es irreversible.</p>
    <br>
    <%= link_to 'Eliminar Encuentro',
                admin_encuentro_path(@encuentro),
                method: :delete,
                data: { confirm: '¿Está seguro?' },
                class: 'button is-danger' %>
  </div>
</article>
