<%= render 'layouts/admin/tabs' %>

<%#= render 'artistas_visibles' %>

<article class="message">
<div class="message-header">
  <p>Mostrar Conteo</p>
</div>
<div class="message-body">
  <p>En esta sección puede ocultar/mostrar el conteo en la página princpal del encuentro.</p>
  <p>El conteo tiene en cuenta la fecha y hora de la primera actividad de este encuentro.</p>
  <p>El cambio de este estado puede realizarse las veces que estime conveniente.</p>
  <br>
  <%= form_with model: [:admin, @encuentro] do |f| %>
  <%= f.hidden_field :return_path, value: admin_encuentro_config_index_path(@encuentro) %>
  <%= f.hidden_field :show_countdown, value: !@encuentro.show_countdown? %>
  <%= f.submit @encuentro.show_countdown_text, class: "button is-link #{@encuentro.show_countdown_class}" %>
<% end %>
</div>
</article>

<article class="message">
<div class="message-header">
  <p>Mostrar Instagram</p>
</div>
<div class="message-body">
  <p>En esta sección puede ocultar/mostrar las últimas imágenes de Instagram.</p>
  <p>El cambio de este estado puede realizarse las veces que estime conveniente.</p>
  <br>
  <%= form_with model: [:admin, @encuentro] do |f| %>
  <%= f.hidden_field :return_path, value: admin_encuentro_config_index_path(@encuentro) %>
  <%= f.hidden_field :show_instagram_feed, value: !@encuentro.show_instagram_feed? %>
  <%= f.submit @encuentro.show_instagram_feed_text, class: "button is-link #{@encuentro.show_instagram_feed_class}" %>
<% end %>
</div>
</article>

<article class="message">
<div class="message-header">
  <p>Habilitar/Deshabilitar Encuentro</p>
</div>
<div class="message-body">
  <p>El estado del encuentro determina si estará disponible a los visitantes de la página.</p>
  <p>Por defecto, el encuentro habilitado más reciente es el que se muestra al llegar a la página principal.</p>
  <p>El cambio de este estado puede realizarse las veces que estime conveniente.</p>
  <br>
  <%= form_with model: [:admin, @encuentro] do |f| %>
  <%= f.hidden_field :return_path, value: admin_encuentro_config_index_path(@encuentro) %>
  <%= f.hidden_field :habilitado, value: !@encuentro.habilitado? %>
  <%= f.submit @encuentro.enable_disable_text, class: "button is-link #{@encuentro.enable_disable_class}" %>
<% end %>
</div>
</article>

<article class="message">
<div class="message-header">
<p>Eliminar Encuentro</p>
</div>
<div class="message-body">
<p>Eliminar un encuentro elimina todos los datos que tiene asociados de forma permanente.</p>
<p>Esta acción es irreversible.</p>
<br>
<%= link_to 'Eliminar Encuentro', admin_encuentro_path(@encuentro), method: :delete, data: { confirm: '¿Está seguro?' }, class: 'button is-danger' %>
</div>
</article>
