<%= render 'layouts/admin/tabs' %>

<%= form_with model: [:admin, @encuentro] do |form| %>
<%= form.hidden_field :return_path, value: admin_encuentro_fotos_path(@encuentro) %>

<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <h3 class="title is-3">Fotos</h3>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="previews">
          <% if @encuentro.fotos.attached? %>
            <% @encuentro.fotos.each do |f| %>
              <div class="image-preview">
                <%= image_tag f.variant(combine_options: { thumbnail: '250x250^', gravity: 'north', extent: '250x250' }) %>
                <%= link_to icon('fas', 'trash'), admin_attachment_path(f), { method: 'delete', remote: true, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } } %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="file">
          <label class="file-label">
            <%= form.file_field :fotos, multiple: true, class: 'file-input' %>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Examinar
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.button class: 'button is-link' %>
        <%= link_to 'Cancelar', admin_encuentros_path, class: 'button is-text' %>
      </div>
    </div>
  </div>
</div>

<% end %>
