<nav class="navbar box is-paddingless" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item">
        <%= link_to icon('fas', 'home', 'Ir al Inicio'), root_path %>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Encuentros
        </a>

        <div class="navbar-dropdown">
          <%= link_to 'Listado', admin_encuentros_path, class: 'navbar-item' %>
          <% if @encuentros.any? %>
          <hr class="navbar-divider">
          <% end %>
          <% @encuentros.each do |e| %>
            <%= link_to e.version, edit_admin_encuentro_path(e), class: 'navbar-item' %>
          <% end %>
          <% if @encuentros.any? %>
          <hr class="navbar-divider">
          <% end %>
          <%= link_to 'Nuevo', new_admin_encuentro_path, class: 'navbar-item' %>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Artistas
        </a>

        <div class="navbar-dropdown">
          <%= link_to 'Listado', admin_artistas_path, class: 'navbar-item' %>
          <%= link_to 'Nuevo', new_admin_artista_path, class: 'navbar-item' %>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Obras
        </a>

        <div class="navbar-dropdown">
          <%= link_to 'Listado', admin_obras_path, class: 'navbar-item' %>
          <%= link_to 'Nueva', new_admin_obra_path, class: 'navbar-item' %>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Etiquetas
        </a>

        <div class="navbar-dropdown">
          <%= link_to 'Listado', admin_etiquetas_path, class: 'navbar-item' %>
          <%= link_to 'Nueva', new_admin_etiqueta_path, class: 'navbar-item' %>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <%= "Hola #{current_user.name}" %>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <%= icon('fas', 'user') %>
        </a>

        <div class="navbar-dropdown is-right">
          <%= link_to 'Mi Cuenta', edit_admin_user_path(current_user), class: 'navbar-item' %>
          <hr class="navbar-divider">
          <%= link_to 'Cerrar Sesión', logout_path, method: :delete, class: 'navbar-item' %>
        </div>
      </div>
    </div>
  </div>
</nav>
