<%= form_with model: [:admin, @encuentro] do |form| %>

<% if action_name == 'new' %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= form.label :version, class: 'label' %>
    </div>

    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.number_field :version, class: 'input is-one-fifth', min: 2017 %>
        </div>
      </div>
    </div>
  </div>

  <hr>
<% end %>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :epigrafe, class: 'label' %>
  </div>

  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :epigrafe, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :titulo, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :titulo, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :bajada, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_field :bajada, class: 'input' %>
      </div>
    </div>
  </div>
</div>

<hr>

<% if false %>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :afiche, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <% unless 'show' == params[:action] %>
        <div class="control">
          <div class="preview">
            <div class="image-preview">
              <% if @encuentro.afiche.attached? %>
                <%= image_tag @encuentro.afiche.variant( combine_options: { resize: '400', crop: '400x400+0+0', gravity: 'north' } ), class: 'is-square' %>
                <%= link_to icon('fas', 'trash'), admin_attachment_path(@encuentro.afiche.id), { method: 'delete', remote: true, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } } %>
              <% end %>
            </div>
          </div>
          <div class="file">
            <label class="file-label">
              <%= form.file_field :afiche, class: 'file-input' %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Examinar
                </span>
              </span>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :reference_image, class: 'label' %>
    <p>Esta imagen se mostrará en la sección <em>Eventos Anteriores</em> de la versión en curso.</p>
  </div>
  <div class="field-body">
    <div class="field">
      <% unless 'show' == params[:action] %>
        <div class="control">
          <div class="preview">
            <div class="image-preview">
              <% if @encuentro.reference_image.attached? %>
                <%= image_tag @encuentro.reference_image.variant( combine_options: { resize: '400', crop: '400x400+0+0', gravity: 'north' } ), class: 'is-square' %>
                <%= link_to icon('fas', 'trash'), admin_attachment_path(@encuentro.reference_image.id), { method: 'delete', remote: true, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } } %>
              <% end %>
            </div>
          </div>
          <div class="file">
            <label class="file-label">
              <%= form.file_field :reference_image, class: 'file-input' %>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Examinar
                </span>
              </span>
            </label>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :mision, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_area :mision, class: 'textarea' %>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :vision, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.text_area :vision, class: 'textarea' %>
      </div>
    </div>
  </div>
</div>

<hr>

<div id="slides" class="field is-horizontal">
  <div class="field-label is-normal">
    <%= form.label :slides, class: 'label' %>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <div class="previews">
          <% if @encuentro.slides.any? %>
            <ul>
              <% @encuentro.slides.each.with_index(1) do |slide, idx| %>
                <%= form.fields_for slide, index: slide.id do |slide_form| %>
                <li>
                  <span class="sorting-handles">
                    <%= link_to icon('fas', 'sort-up'), admin_slide_up_path(slide), { method: 'post', remote: true } if idx > 1 %>
                    <%= link_to icon('fas', 'sort-down'), admin_slide_down_path(slide), { method: 'post', remote: true } if idx < @encuentro.slides.count %>
                  </span>
                  <% if slide.image.attached? %>
                    <div class="image-preview">
                      <%= image_tag slide.image.variant(combine_options: { thumbnail: '250x250^', gravity: 'north', extent: '250x250' }) %>
                    </div>
                  <% end %>
                  <span>
                    <%= slide_form.label :title %>
                    <%= slide_form.text_field :title %>

                    <%= slide_form.label :description %>
                    <%= slide_form.text_area :description %>
                  </span>
                  <%# link_to icon('fas', 'trash'), admin_slide_path(slide), { method: 'delete', remote: true, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } } %>
                  <%= link_to 'Eliminar', admin_slide_path(slide), { class: 'has-text-danger button', method: 'delete', remote: true, data: { confirm: 'Esta acción es irreversible. ¿Desea continuar?' } } %>
                </li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="file">
        <label class="file-label">
          <%= form.file_field :slides, multiple: true, class: 'file-input' %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label">
              Examinar
            </span>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
</div>

<hr>

<% unless 'show' == params[:action] %>
<div class="field is-horizontal">
  <div class="field-label is-normal"></div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <%= form.button class: 'button is-link' %>
        <%= link_to 'Cancelar', admin_encuentros_path, class: 'button is-text' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
