<div class="card">
  <div class="card-content">
    <p class="title"><%= @actividad.new_record? ? 'Crear' : 'Editar' %>
      Actividad</p>

    <%= form_with model: [:admin, @encuentro, @actividad] do |form| %>

    <div class="columns">
      <div class="field column is-6">
        <%= form.label :titulo, class: 'label' %>
        <div class="control">
          <%= form.text_field :titulo, class: 'input' %>
        </div>
        <label class="checkbox">
          <%= form.check_box :titulo_en_calendario %>
          Mostrar título en calendario
        </label>
      </div>
    </div>

    <div class="field">
      <%= form.label :etiquetas, class: 'label' %>
      <%= select_tag('actividad[etiquetas][][id]', nil, data: { taggable: true, tag_placeholder: 'Seleccione una o más etiquetas', source: actividad_tags_for_select_path(@actividad) }) %>
    </div>

    <div class="field">
      <%= form.label :participantes, class: 'label' %>
      <%= select_tag('actividad[participantes][][id]', nil, data: { taggable: true, tag_placeholder: 'Seleccione uno o más participantes', source: actividad_participantes_for_select_path(@actividad) }) %>
      <label class="checkbox">
        <%= form.check_box :show_description_in_calendar %>
        Mostrar participantes en calendario
      </label>
    </div>

    <div class="columns">
      <% if false %>
        <div class="field column is-3">
          <%= form.label :fecha, class: 'label' %>
          <div class="control">
            <%= form.date_field :fecha, class: 'input' %>
          </div>
        </div>
      <% end %>
      <div class="field column is-4">
        <%= form.label :inicio, class: 'label' %>
        <div class="control">
          <%= form.datetime_field :inicio, class: 'input', data: { link_target: '#termino' } %>
        </div>
      </div>
      <div class="field column is-4">
        <%= form.label :termino, class: 'label' %>
        <div class="control">
          <%= form.datetime_field :termino, class: 'input' %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :descripcion, class: 'label' %>
      <div class="control">
        <%= form.text_field :descripcion, class: 'input' %>
      </div>
      <label class="checkbox">
        <%= form.check_box :show_description_in_calendar %>
        Mostrar descripción en calendario
      </label>
    </div>

    <div class="field">
      <%= form.label :lugar, class: 'label' %>
      <div class="control">
        <%= form.text_field :lugar, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :texto_calendario, class: 'label' %>
      <div class="control">
        <%= form.text_area :texto_calendario, class: 'textarea' %>
      </div>
      <label class="checkbox">
        <%= form.check_box :texto_en_calendario %>
        Mostrar texto en calendario
      </label>
    </div>

    <div class="field">
      <%= form.label :details, class: 'label' %>
      <div class="control">
        <%= form.text_area :details, class: 'textarea' %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.button class: 'button is-link' %>
      </div>
      <div class="control">
        <%= link_to 'Cancelar', admin_encuentro_actividades_path(@actividad.encuentro), class: 'button is-text' %>
      </div>
    </div>
  <% end %>
</div>
</div>
