<div class="card">
  <div class="card-content">
    <p class="title">Nueva Actividad</p>

    <hr>

    <p>
      <strong>Datos de la Fecha</strong>
    </p>
    <p>
      <strong>Fecha:</strong>
      <%= @actividad.fecha_actividad.fecha_ddmmyyyy %></p>
    <p>
      <strong>Lugar:</strong>
      <%= @actividad.fecha_actividad.lugar %></p>
    <p>
      <strong>Temática:</strong>
      <%= @actividad.fecha_actividad.tematica %></p>

    <hr>

    <%= form_with model: [:admin, @fecha_actividad, @actividad] do |form| %>

    <div class="columns">
      <div class="field column is-3">
        <%= form.label :inicio, class: 'label' %>
        <div class="control">
          <%= form.time_field :inicio, class: 'input' %>
        </div>
      </div>
      <div class="field column is-3">
        <%= form.label :termino, class: 'label' %>
        <div class="control">
          <%= form.time_field :termino, class: 'input' %>
        </div>
      </div>
      <div class="field column is-6">
        <%= form.label :titulo, class: 'label' %>
        <div class="control">
          <%= form.text_field :titulo, class: 'input' %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :descripcion, class: 'label' %>
      <div class="control">
        <%= form.text_field :descripcion, class: 'input' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :lugar, class: 'label' %>
      <div class="control">
        <%= form.text_field :lugar, class: 'input' %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit class: 'button is-link' %>
      </div>
      <div class="control">
        <%= link_to 'Cancelar', admin_fecha_actividad_actividades_path(@actividad.fecha_actividad), class: 'button is-text' %>
      </div>
    </div>
  <% end %>
</div>
</div>
