<%= render 'layouts/admin/tabs' %>

<div class="card">
  <div class="card-content">
    <h3 class="title is-3">Actividades</h3>

    <%= link_to 'Crear Actividad', new_admin_encuentro_actividad_path(@encuentro), class: 'button is-link' %>

    <% if @encuentro.actividades.any? %>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Inicio/Término</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Lugar</th>
            <th class="acciones has-two-icons">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @encuentro.actividades.each do |actividad| %>
            <tr>
              <td>
                <%= actividad.inicio.strftime('%H:%M') %>
                <%= "- #{actividad.termino.strftime('%H:%M')}" if actividad.termino != nil %>
              </td>
              <td><%= actividad.titulo %></td>
              <td><%= actividad.descripcion %></td>
              <td><%= actividad.lugar %></td>
              <td>
                <%= link_to content_tag(:span, icon('fas', 'edit'), class: 'icon tooltip', data: { tooltip: 'Editar artista', }), edit_admin_actividad_path(actividad), class: 'button is-info is-outlined' %>
                <%= link_to content_tag(:span, icon('fas', 'trash-alt'), class: 'icon'), admin_actividad_path(actividad), method: :delete, data: { confirm: '¿Está seguro?', }, class: 'button is-danger is-outlined' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <hr>
      <p>No existen actividad para esta fecha.</p>
    <% end %>
  </div>
</div>
