<%= render 'layouts/admin/tabs' %>

<% if false %>
  <div>
    <div class="card">
      <div class="card-content">
        <h3 class="title is-4">Fecha</h3>
        <ul id="dates-events">
          <% @encuentro.fechas_calendario.each do |fecha| %>
            <li>
              <label class="checkbox">
                <input type="checkbox" checked="checked" value="<%= fecha[4] %>">
                <%= fecha[3] %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h3 class="title is-4">Etiquetas</h3>
        <ul id="tags-events">
          <% @encuentro.etiquetas.each do |etiqueta| %>
            <li>
              <label class="checkbox">
                <input type="checkbox" checked="checked" value="<%= etiqueta.id %>">
                <%= etiqueta.nombre %>
              </label>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="card">
  <div class="card-content">
    <h3 class="title is-4">Etiquetas</h3>
    <ul id="tags-events">
      <% @encuentro.available_tags.each do |tag| %>
        <li>
          <label class="checkbox">
            <input type="checkbox" checked="checked" value="<%= tag.id %>">
            <%= tag.nombre %>
          </label>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <h3 class="title is-3">Actividades Ordenadas</h3>

    <%= link_to 'Crear Actividad', new_admin_encuentro_actividad_path(@encuentro), class: 'button is-link' %>

    <% if @encuentro.activities_by_start_time.any? %>
      <table class="actividades table is-fullwidth">
        <thead>
          <tr>
            <th class="date">Fecha</th>
            <th>Inicio/Término</th>
            <th>Etiquetas</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Lugar</th>
            <th class="acciones has-two-icons">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @encuentro.sorted_activities.each do |actividad| %>
            <tr data-date="<%= actividad.fecha %>" data-tags="<%= actividad.etiquetas.pluck(:id).join(',') %>">
              <td><%= actividad.fecha_day_name_day_number %></td>
              <td>
                <%= actividad.inicio_hhmm %>
                <%= "- #{actividad.termino_hhmm}" if actividad.termino != nil %>
              </td>
              <td><%= actividad.etiquetas.pluck(:nombre).join(' ') %></td>
              <td><%= actividad.titulo %></td>
              <td><%= actividad.descripcion %></td>
              <td><%= actividad.lugar %></td>
              <td>
                <%= link_to content_tag(:span, icon('fas', 'edit'), class: 'icon tooltip', data: { tooltip: 'Editar artista', }), edit_admin_actividad_path(actividad), class: 'button is-info is-outlined' %>
                <%= link_to content_tag(:span, icon('fas', 'trash-alt'), class: 'icon'), admin_actividad_path(actividad), method: :delete, data: { confirm: '¿Está seguro?', }, class: 'button is-danger is-outlined' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <hr>
      <p>No existen actividades para este evento</p>
    <% end %>
  </div>
</div>
