<h1 class="title is-1 has-text-centered">Administración de Artistas</h1>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Bio</th>
      <th class="imagenes">
        <span class="icon">
          <%= icon('fas', 'images') %>
        </span>
      </th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @artistas.each do |a| %>
      <tr>
        <td><%= a.nombre %></td>
        <td><%= a.bio.truncate(100) if !a.bio.nil? %></td>
        <td>
          <% if a.foto.attached? %>
          <span class="icon tooltip" data-tooltip="El artista tiene imagen">
          <% else %>
          <span class="icon">
          <% end %>
            <%= icon('fas', 'check') if a.foto.attached? %>
          </span>
        </td>
        <td>
          <%= link_to content_tag(:span,
                                  icon('fas', 'edit'),
                                  class: 'icon tooltip',
                                  data: {
                                    tooltip: 'Editar artista',
                                  }),
                      edit_admin_artista_path(a),
                      class: 'button is-info is-outlined' %>

          <% tooltip_text = (a.presentaciones.count > 0 ? 'Este artista no se podrá eliminar' : 'Eliminar artista') %>

          <%= link_to content_tag(:span,
                                  icon('fas', 'trash-alt'),
                                  class: 'icon tooltip',
                                  data: {
                                    tooltip: tooltip_text,
                                  }),
                      admin_artista_path(a),
                      method: :delete,
                      data: {
                        confirm: '¿Está seguro?',
                      },
                      class: 'button is-danger is-outlined' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
