<h1 class="title is-1 has-text-centered">Administración de Artistas</h1>

<% if @artistas.any? %>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Bio</th>
      <th class="imagenes">
        <span class="icon">
          <%= icon('fas', 'images') %>
        </span>
      </th>
      <th class="acciones has-two-icons">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @artistas.each.with_index(1) do |artista, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= artista.nombre %></td>
        <td><%= artista.bio.truncate(100) if !artista.bio.nil? %></td>
        <td>
          <% if artista.foto.attached? %>
          <span class="icon tooltip" data-tooltip="El artista tiene imagen">
          <% else %>
          <span class="icon">
          <% end %>
            <%= icon('fas', 'check') if artista.foto.attached? %>
          </span>
        </td>
        <td>
          <%= link_to content_tag(:span,
                                  icon('fas', 'edit'),
                                  class: 'icon tooltip',
                                  data: {
                                    tooltip: 'Editar artista',
                                  }),
                      edit_admin_artista_path(artista),
                      class: 'button is-info is-outlined' %>

          <% tooltip_text = (artista.presentaciones.count > 0 ? 'Este artista no se podrá eliminar' : 'Eliminar artista') %>

          <%= link_to content_tag(:span,
                                  icon('fas', 'trash-alt'),
                                  class: 'icon tooltip',
                                  data: {
                                    tooltip: tooltip_text,
                                  }),
                      admin_artista_path(artista),
                      method: :delete,
                      data: {
                        confirm: '¿Está seguro?',
                      },
                      class: 'button is-danger is-outlined' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<hr>
<p>No existen artistas registrados.</p>
<% end %>
