<!DOCTYPE html>
<html>
  <head>
    <title>Flauteando en el Río / Administración</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-calendar@6.0.9/dist/css/bulma-calendar.min.css" integrity="sha256-ibg09Hplsr06zkYpajRQmDTCKvFVassHxeVTVukXmYA=" crossorigin="anonymous">
    <link href="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/mobius1-selectr@latest/dist/selectr.min.js" type="text/javascript"></script>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-light">

    <div>
      <%= render 'layouts/admin/navbar' %>

      <div class="container has-background-light">

        <div class="box">
          <% if flash.notice %>
            <div class="notification is-success"><%= flash.notice %></div>
            <% elsif flash.alert %>
              <div class="notification is-danger"><%= flash.alert %></div>
              <% elsif flash[:warning] %>
                <div class="notification is-warning"><%= flash[:warning] %></div>
              <% end %>

              <%= yield %>
            </div>
          </div>

          <%= render 'layouts/admin/footer' %>
        </div>
      </body>
    </html>
