<!DOCTYPE html>
<html>
  <head>
    <title>Edmchc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="has-background-light">

    <div>
      <%= render 'layouts/admin/navbar' %>

      <div class="container has-background-light">

        <div class="box">
          <% if @encuentro_tabs %>
            <h1 class="title is-1 has-text-centered">
              Encuentro
              <%= @encuentro_tabs.version %>
            </h1>

            <%= render 'layouts/admin/tabs' %>

          <% end %>

          <% if flash[:notice] %>
            <div class="notification is-success"><%= flash[:notice] %></div>
          <% elsif flash.alert %>
            <div class="notification is-danger"><%= flash[:alert] %></div>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <%= render 'layouts/admin/footer' %>
    </div>
  </body>
</html>
