<!DOCTYPE html>
<html>
  <head>
    <title>Flauteando en el Río</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div>
        <%= render 'layouts/navbar' %>

        <div class="main">
          <%= yield %>
        </div>
      </div>

      <div id="info-overlay" class="info-overlay hidden">
        <%= icon('fas', 'times', id: 'close') %>
        <img src=""/>
        <div id="info-bio" class="info-bio">
          <h1>Nombre Músico</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div id="info" class="info">
        <%= image_tag ('afiche.jpg'), usemap: '#flauta' %>
      </div>
    </div>
  </body>
</html>
