<!DOCTYPE html>
<html>
  <head>
    <title>Flauteando en el Río</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'home2', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'home2', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      const eventTime = new Date('<%= @encuentro.first_activity %>').getTime();
    </script>
  </head>
  <body class="<%= action_name %>">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
