<!DOCTYPE html>
<html>
  <head>
    <title>Flauteando en el Río</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div>
        <%= render 'layouts/navbar' %>

        <div class="main">
          <%= yield %>
        </div>
      </div>

      <div id="info-overlay" class="info-overlay hidden">
        <%= icon('fas', 'times', id: 'close') %>
        <img src=""/>
        <div id="info-bio" class="info-bio">
          <h1></h1>
          <p></p>
        </div>
      </div>
      <div id="info" class="info">
        <%= image_tag @encuentro.afiche %>
      </div>
    </div>
  </body>
</html>
