<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
      @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

      *,
      *::after,
      *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      section {
        margin-bottom: 2rem;
      }

      div.container {
        display: grid;
        grid-template-columns: 1fr;
      }

      div.gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

      /* .main-nav {
        grid-column: 1;
        grid-row: 1;
        z-index: 10;
        position: sticky;
        top: 0;
      } */
      .main-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
      }
      .main-nav a {
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        color: #f8931f;
        font-family: 'Rubik Mono One', sans-serif;
      }
      .main-nav li a {
        padding: 1rem;
      }
      .main-nav a.active,
      .main-nav a:focus,
      .main-nav a:hover {
        background: #f8931f;
        color: black;
      }
      .main-nav a:focus svg,
      .main-nav a:hover svg {
        fill: green;
      }
      .main-nav a:focus span,
      .main-nav a:hover span {
        color: black;
      }

      div.main {
        grid-column: 1;
        grid-row: 2;
        /* display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
        height: 100vh;
        overflow: auto;
      }
      div.main img {
        object-fit: cover;
        height: 350px;
        width: 100%;
        filter: grayscale(1) brightness(.9) contrast(1.5);
        cursor: pointer;
      }
      div.main img:hover {
        filter: grayscale(1) brightness(.9) contrast(1.2);
        transition: filter 500ms;
      }
      div.info {
        grid-column: 1;
        grid-row: 3;
        background-color: rgb(50, 210, 237);
        position: sticky;
        top: 0;
      }

      div.info img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: left top;
      }
      .hidden {
        display: none;
      }
      div#info-overlay {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        color: whitesmoke;
        background-color: white;
        position: sticky;
        height: 100vh;
        grid-column: 2;
        grid-row: 1;
        font-family: 'Lato', sans-serif;
        text-align: right;
        transition: opacity 500ms;
        z-index: 10;
      }
      div#info-overlay.hidden {
        opacity: 0;
      }
      div#info-overlay.shown {
        opacity: 1;
      }
      div#info-overlay img {
        grid-column: 1;
        grid-row: 1/3;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: left top;
      }
      #info-bio {
        grid-column: 1;
        grid-row: 3/4;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-content: flex-end;
        background-color: rgba(1, 1, 1, 0.8);
        color: whitesmoke;
      }
      div#info-overlay h1 {
        padding: 2rem 4rem;
      }
      #info-overlay p {
        padding: 0 3rem 2rem;
      }
      .fas.fa-times {
        position: absolute;
        top: 0;
        right: 0;
        color: black;
        font-size: 4rem;
      }

      /* @media (min-width: 1200px) { */
      div.container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        height: 100vh;
        overflow: hidden;
      }
      div.info {
        grid-column: 2;
        grid-row: 1;
        background-color: rgb(50, 210, 237);
        position: sticky;
        top: 0;
      }
      /*}*/
      @media (width < 1200px) {
        div.container {
          grid-template-columns: 1fr 1fr;
        }
      }
      @media (width < 700px) {
        div#info,
        div#info-overlay {
          grid-column: 1;
          grid-row: 2;
        }
        div.container {
          grid-template-columns: 1fr;
          overflow: scroll;
        }
      }
      /* @media (width < 1400px) {
        .main-nav {
          grid-column: 1/3;
        }
        div.info,
        div.info-overlay {
          top: 4rem;
        }
      } */
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div>
        <nav role='navigation' class="main-nav" id="main-nav">
          <ul id="main-nav-list">
            <li><%= link_to 'Flauteando', nil, data: { command: 'peek', image: image_path('afiche.jpg') } %></li>
            <li><%= link_to 'Artistas', nil, class: 'active' %></li>
            <li><%= link_to 'Actividades' %></li>
            <li><%= link_to 'Conciertos' %></li>
            <li><%= link_to 'Galería' %></li>
          </ul>
        </nav>

        <div class="main">

          <section>
            <div class="gallery">
              <% (0...6).each do |i| %>
                <%= image_tag ('http://dummyimage.com/800x600/ccc/fff.png') %>
              <% end %>
            </div>
          </section>

          <section>
            <div class="gallery">
              <% (0...6).each do |i| %>
                <%= image_tag ('http://dummyimage.com/800x600/ccc/fff.png') %>
              <% end %>
            </div>
          </section>
        </div>
      </div>

      <div id="info-overlay" class="info-overlay hidden">
        <%= icon('fas', 'times', id: 'close') %>
        <img src=""/>
        <div id="info-bio" class="info-bio">
          <h1>Nombre Músico</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div id="info" class="info">
        <%= image_tag ('afiche.jpg'), usemap: '#flauta' %>
      </div>
    </div>
    <script>
      const info = document.getElementById('info');
      const infoOverlay = document.getElementById('info-overlay');
      for (const link of[...document.querySelectorAll('a[data-command=peek]')]) {
        link.addEventListener('click', e => {
          e.preventDefault();
          console.log({e});
          infoOverlay.querySelector('img').src = e.target.dataset.image;
          infoOverlay.classList.replace('hidden', 'shown');
        });
      }
      for (const img of[...document.querySelectorAll('.main img')]) {
        img.addEventListener('click', e => {
          infoOverlay.querySelector('img').src = e.target.src;
          infoOverlay.classList.replace('hidden', 'shown');
        });
      }
      document.getElementById('close').addEventListener('click', e => {
        infoOverlay.classList.replace('shown', 'hidden');
      });
      document.querySelector('div.main').addEventListener('scroll', e => {
      // window.addEventListener('scroll', e => {
        console.log(document.querySelector('div.main').scrollY);
      });
    </script>
  </body>
</html>
